# Gradle
.gradle/
.gradle-user-home/
.gradle-tmp/
build/
out/

# Maven leftovers
target/
dependency-reduced-pom.xml

# IntelliJ / JetBrains
.idea/
*.iml

# Logs
*.log
logs/

# Release notes drafts
CHANGELOG-*.md
CHANGELOG-*.bbcode

# OS files
.DS_Store
Thumbs.db
